.first {
	background-image: url(./img/pic2.jpg);
	background-size: cover;
	background-position: center;
	}

.second {
	background: #E9E9E9;
	}
	
div.second.text {
	height: 65vh;
	}

/* .third { 
	 background-color: #E9E9E9; 
	 background-image: url(./img/pic1.jpg); 
	 background-size: cover; 
	 background-position: center; 
	 -webkit-box-shadow: 0px 0px 20px 0px rgba(65,61,61,0.5); 
	 -moz-box-shadow: 0px 0px 20px 0px rgba(65,61,61,0.5); 
	 box-shadow: 0px 0px 20px 0px rgba(65,61,61,0.5); 
	 height: 500px; 
	 } */

.jumbotron {
	height: 200px;
	}
	
h1.two {
	font-family: 'Oswald', sans-serif;
	text-align: left;
	margin-top: 10px;
	color: #FDFDFD;
	text-shadow: 0px 0px 50px rgba(65, 61, 61, 0.5);
	}

h2 {
	margin-top: 40px;
	}